@font-face {
    font-family: 'grande';
    src: url('grande.woff2') format('woff2'),
        url('grande.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

