@font-face {
    font-family: 'Nesty';
    src: url('Nesty.woff2') format('woff2'),
        url('Nesty.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}