@font-face {
    font-family: 'Calegar';
    src: url('Calegar-Regular.woff2') format('woff2'),
        url('Calegar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calegar';
    src: url('Calegar-Oblique.woff2') format('woff2'),
        url('Calegar-Oblique.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}